#countdown{
    width:100%;
    margin:0 0 0 0;
    overflow:hidden;
    padding: 20px;
    text-align:center;
    position:relative;
    background:#034694;
}

#countdown h1 {
    font-family:"Hannotate SC Regular";font-weight:700;color:#FFF;font-size:2em;margin:10px 0
}
#countdown h2 {
    margin-bottom:10px
}

.countdown-label {
    font-size: 1.6em;
    text-align: center;
    font-family:"Hannotate SC Regular";
    color: white;
    min-height: 200px;
}

.countdown-label img {
    position: absolute;
    margin: auto;
    width: 90%;
    height: auto;
}

.countdown-label-top{
    position: absolute;
    top: 20px;
    height: 50%;
}

.countdown-label-bottom{
    position: absolute;
    top: 80px;
    height: 50%;
    font-size: 2.2em;
}

#coundtown h1,dl * {
    text-shadow: #3D110D -1px -1px 3px; text-outline: 1px 1px #000;
}
